body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 80vw;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

button {
    width: 40%;
    
    font-size: 3rem;
    border: 5px solid black;
    border-radius: 15px;
    background-color: beige;

    position: absolute;
    top: 650px;
}

#gameBoard {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

#nextGame {
    visibility: hidden;
    z-index: 10;
}

#winningWindow, #drawnWindow {
    width: 600px;
    height: 400px;
    background-color: lightgray;
    border: 10px solid gray;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    font-size: 1.5rem;
}

#themes {
    border: 5px solid black;

    width: 200px;
    height: 75px;
 
    position: absolute;
    left: 10vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#scores {
    border: 5px solid black;

    width: 200px;
    height: 75px;

    position: absolute;
    right: 10vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#scores p, #scores h2 {
    padding: 0;
    margin: 0;
}

.gameCell {
    height: 150px;
    width: auto;

    border: 5px solid black;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.smallLetters {
    font-size: 0.7rem;
}

.themeCell {
    height: auto;
    width: auto;
}

.themeCell:hover {
    opacity: 10%;
    transition: 1s;
}

.white {
    background: rgb(247, 247, 247);
}

.black {
    background: black;
}

.rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}