body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 80vw;
}

h1 {
    font: 6rem;
}

header {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

button {
    width: 40%;
    
    font-size: 3rem;
    border: 5px solid black;
    border-radius: 15px;
    background-color: beige;
}

#gameBoard {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

#winningWindow {
    width: 600px;
    height: 400px;
    background-color: lightgray;
    border: 10px solid gray;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    font-size: 1.5rem;
}

.gameCell {
    height: 150px;
    width: auto;

    border: 5px solid black;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.smallLetters {
    font-size: 0.5rem;
}